<main class="row">
 <div class="box left">
  <h1 class="sans">makeimg</h1>
  <p>
   Create Arch Linux images (disk image, tarball, or chroot).
  </p>
  <p>
   Makeimg provides a declarative way to describe Arch Linux images (e.g. VM images). It's a mix between
   <a href="https://man.archlinux.org/man/makepkg.8" title="makepkg(8) man page">makepkg</a> and the
   <a href="https://openwrt.org/docs/guide-user/additional-software/imagebuilder" title="OpenWRT wiki: image builder">Openwrt image builder</a>.
  </p>
  <p>
   The core idea of makeimg is to generate a system image in 6 steps:
   <ul>
    <li>Bootstrapping (installing the packages, etc.)</li>
    <li>Installing a set of provided files to the system</li>
    <li>Rendering a set of provided templates to files on the system</li>
    <li>Applying a set of provided patches to files on the system</li>
    <li>Run a provided script in the context of the system for the final touches</li>
    <li>Enable the required services on the system</li>
   </ul>
   These steps together provide a dense and sophisticated means to describe a system.
   Take a look at the provided <a href="https://gitlab.com/anemos-io/makeimg/-/tree/master/example" title="makeimg example source code">example</a>
   to get a better understanding for how such a description might look like.
  </p>
  <p>
   Currently, the best documentation is the <a href="/man/makeimg.1.html" title="makeimg(1) man page">man page</a>.
  </p>
  <h2 class="sans">Packages</h2>
  <p>
   Makeimg currently only runs on Arch Linux. You can find it in the
   <a href="https://aur.archlinux.org/packages/makeimg-git" title="makeimg-git in AUR">AUR: makeimg-git</a>.
  </p>
  <h2 class="sans">Source code</h2>
  <p>
   For the source code, please see 
   <a href="https://gitlab.com/anemos-io/makeimg" title="makeimg project on Gitlab">gitlab.com/anemos-io/makeimg</a>.
  </p>
  <h2 class="sans">Man pages</h2>
  <p>
   <a href="/man/makeimg.1.html" title="makeimg(1) man page">makeimg(1)</a>,
   <a href="/man/IMGBUILD.5.html" title="IMGBUILD(5) man page">IMGBUILD(5)</a>
  </p>
 </div>
</main>
