<main class="row">
 <div class="box left">
  <h1 class="sans">Secman</h1>
  <p>
   Check for known security issues in Arch Linux package lists.
  </p>
  <p>
   Secman reads a list of versioned packages (usually the output of <code>pacman -Q</code>)
   from stdin and checks if the packages are affected by any Arch vulnerability group (AVG) published on
   <a href="https://security.archlinux.org" title="Arch Linux security issue tracker">security.archlinux.org</a>.
  </p>
  <p>
   Currently, the best documentation is the <a href="/man/secman.1.html" title="secman(1) man page">man page</a>.
  </p>
  <h2 class="sans">Source code</h2>
  <p>
    For the source code and build instructions, please see
    <a href="https://gitlab.com/anemos-io/secman" title="secman project on Gitlab">gitlab.com/anemos-io/secman</a>.
  </p>
  <h2 class="sans">Man pages</h2>
  <p>
   <a href="/man/secman.1.html" title="secman(1) man page">secman(1)</a>
  </p>
 </div>
</main>
