<main class="row">
 <div class="box left">
  <h1 class="sans">Arch Linux E2</h1>
  <p>
   Build your own Arch Linux AMI.
  </p>
  <p>
   Code and instructions for building your own, almost vanilla, Arch Linux Amazon Machine Image (AMI), so you
   can run Arch Linux on AWS EC2.
  </p>
  <p>
   Currently, the best documentation is the <a href="https://gitlab.com/anemos-io/archlinux-ec2/-/blob/master/README.md" title="README">README</a>.
  </p>
  <h2 class="sans">Source code</h2>
  <p>
    For the source code and build instructions, please see 
    <a href="https://gitlab.com/anemos-io/archlinux-ec2" title="archlinux-ec2 project on Gitlab">gitlab.com/anemos-io/archlinux-ec2</a>.
  </p>
 </div>
</main>
